@using LuxuryWhaches.EntityLayer.Concreate;
@model List<ProductColor>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
	int count = 1;
}
<div id="page-wrapper">
	<div class="main-page">
		<h2 class="title1">Rənglər</h2>
		<div class="blank-page widget-shadow scroll" id="style-2 div1">
			<table class="table table-bordered">
				<tr>
					<td>#</td>
					<td>Adı</td>
					<td>Status</td>
					<td>Status Dəyiş</td>
					<td>Sil</td>
					<td>Yenilə</td>
					<td>Ətraflı</td>
				</tr>
				@foreach (var x in Model)
				{
					count++;
					<tr>
						<td>@count</td>
						<td>@x.ProductColorName</td>
						<td>@x.ProductColorStatus</td>
						@if(x.ProductColorStatus == true)
						{
							<td><a href="/AdminColor/ChangeToFolse/@x.ProductColorID" class="btn btn-info btn-flat btn-pri">Passiv Et</a></td>

						}
						else
						{
							<td><a href="/AdminColor/ChangeToTrue/@x.ProductColorID" class="btn btn-success btn-flat btn-pri">Aktiv Et</a></td>

						}
						<td><a href="/AdminColor/Delete/@x.ProductColorID" class="btn btn-danger btn-flat btn-pri">Sil</a></td>
						<td><a href="/AdminColor/Update/@x.ProductColorID" class="btn btn-success btn-flat btn-pri">Yenilə</a></td>
						<td><a href="#" class="btn btn-primary btn-flat btn-pri">Ətraflı</a></td>

					</tr>
				}
			</table>
		</div>
	</div>
	<a href="/AdminColor/Add" class="btn btn-info btn-flat btn-pri">Yeni</a>
	
</div>




