@using LuxuryWhaches.EntityLayer.Concreate;
@model List<Contact>

<div class="col-md-4 compose-left">
	<div class="chat-grid widget-shadow">
		<ul>
			<li class="head">Əlaqələr </li>
			@foreach (var x in Model)
			{
				<li>
					<a href="#">
						<div class="chat-left">
							<img class="img-circle" src="images/i1.png" alt="">
							<label class="small-badge"></label>
						</div>
						<div class="chat-right">
							<p>@x.ContactSubject</p>
							<h6>@x.ContactBody </h6>
						</div>
						<div class="clearfix"> </div>
					</a>
				</li>
			}
		</ul>
	</div>
</div>







