@model ResetPassword
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="account">
	<div class="container">
		<div class="account-top heading">
			<h2>Profilim</h2>
		</div>
		<div class="account-main">
			<div class="col-md-6 account-left">
				<h3>Sifrənizi Təyin Edin</h3>
				<form method="post" class="account-bottom">
					<input placeholder="Şifrə" type="password" tabindex="3" required="" asp-for="Password">
					<input placeholder="Şifrə Təkrar" type="password" tabindex="4" required="" asp-for="ConfirmPassword">
					<div class="address">
						<input type="submit" value="Şifrəni Təsdiqlə">
					</div>
				</form>
			</div>
			<div class="col-md-6 account-right account-left">
				<h3>Ana Səhifəyə Qayıt</h3>
				<p>Hər hansı çətinliyinizlə bağlı əlaqə bölməsindən bizimlə əlaqə saxlaya bilərsiniz</p>
				<a href="/Default/Index/">Ana Səhifə</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>


