@using LuxuryWhaches.EntityLayer.Concreate;
@model List<NewsLetter>

<li class="dropdown head-dpdn">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">4</span></a>
	<ul class="dropdown-menu">
		@foreach(var x in Model.OrderByDescending(x => x.NewsLetterId).Take(5))
		{
			<li>
				<a href="#">
					<div class="user_img"><img src="images/4.jpg" alt=""></div>
					<div class="notification_desc">
						<p>@x.NewsLetterMail</p>
					</div>
					<div class="clearfix"></div>
				</a>
			</li>
		}

	
		<li>
			<div class="notification_bottom">
				<a href="/AdminMail/Index">Mail Blüteninə Bax</a>
			</div>
		</li>
	</ul>
</li>
