@using LuxuryWhaches.EntityLayer.Concreate;
@model List<NewsLetter>

<div class="col-md-4 compose-left">
	<div class="chat-grid widget-shadow">
		<ul>
			<li class="head">Mail Adresi </li>
			@foreach(var x in Model)
			{
				<li>
					<a href="#">
					
						<div class="chat-right">
							<p>@x.NewsLetterMail</p>
						
						</div>
						<div class="clearfix"> </div>
					</a>
				</li>
			}			
		</ul>
	</div>
</div>