@using LuxuryWhaches.EntityLayer.Concreate;
@model List<Contact>
<div class="col-md-6 span_12">
	<div class="activity_box">
		<h2>Əlaqələr</h2>
		<div class="scrollbar" id="style-1">
			@foreach(var x in Model)
			{
				<div class="activity-row">
					<div class="col-xs-3 activity-img"><img src='images/1.jpg' class="img-responsive" alt="" /></div>
					<div class="col-xs-7 activity-desc">
						<h5><a href="#">@x.ContactSubject</a></h5>
						<p>@x.ContactBody.</p>
					</div>
					<div class="col-xs-2 activity-desc1"><h6>@(((DateTime)x.ContactDate).ToString("dd-MMM-yyyy"))</h6></div>
					<div class="clearfix"> </div>
				</div>

			}
		</div>
		<form action="/AdminMail/Contact/" method="post">
			<input type="text" name="RecieverMail" placeholder="Email Adresi" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Adresi';}" required="">
			<input type="text" name="MailSubject" placeholder="Başlıq" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Başlıq';}" required="">
			<input type="text" name="MailBody" placeholder="Mesajınız" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mesajınız';}" required="">
			<input type="submit" value="Göndər" />
		</form>
	</div>
</div>
